@st-import [ B40, D10, D80] from "mgz-ui/dist/src/Foundation/stylable/colors.st.css";
@st-import Image from "mgz-ui/dist/src/Image/Image.st.css";
@st-import DropdownLayout from "mgz-ui/dist/src/DropdownLayout/DropdownLayout.st.css";

.left {
    height: 455px;
    border-right: 2px solid #eee;
    width: 229px;
}

.search {
    padding: 14px 20px;
}

.itemList {
    -st-states: isSelected;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: value(D10);
}

.itemList:isSelected {
    background-color: value(B40);
}

.dataNotFound {
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 18px 20px;
}

.dataNotFound > div:nth-child(1) {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.dataNotFound > div:nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.right {
    -st-states: isHaveSelect;
    padding: 24px 48px;
    height: 100%;
    overflow-y: auto;
    max-height: 455px;
    width: 615px;
}

.right:isHaveSelect {
    height: 455px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.right > div {
    height: 100%;
    width: 100%;
}

Image.image {
    background-color: value(D80)
}

DropdownLayout > div > div > div > div {
    height: 100% !important;
}

DropdownLayout > div > div > div > div > div > div > div > div {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: value(D10);
    width: 304px;
}
