@st-import Button from "mgz-ui/dist/src/Button/Button.st.css";
@st-import [O00,O10,C2, D80, R00, R10] from "mgz-ui/dist/src/Foundation/stylable/colors.st.css";

:global(div) {
    font-family: 'Wix Madefor Text', sans-serif !important;
}

:global(span) {
    font-family: 'Wix Madefor Text', sans-serif !important;
}

:global(button) {
    font-family: 'Wix Madefor Text', sans-serif !important;
}

Button.btnOpenModal {
    background-color: value(R10);
    border-color: value(R10);
    border-radius: 0;
    color: value(D80);
    font-weight: 700;
    height: 100%;
    font-size: 16px;
    padding: 10px 20px;
}

Button.btnOpenModal:hover {
    background-color: value(R00);
    box-shadow: 0 0 0 1px value(C2);
}

.footerModal {
    padding: 18px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inputFormModal {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;
}

.actionBtnModal {
    display: flex;
    justify-content: end;
    gap: 12px;
}
