@st-import [B10, B30, D70] from "mgz-ui/dist/src/Foundation/stylable/colors.st.css";

.root {
    overflow: hidden;
}

.root > div > div > div > div:nth-child(2) {
    padding: 30px 48px !important;
}

.root > div > div > div > div > div > div:nth-child(2) {
    height: 0;
    padding: 0;
}

.cardFormModal {
    width: 844px;
}

.nameTypeSelect > div:hover {
    cursor: pointer;
}

.nameTypeSelect > div > div > span:last-child:hover {
    color: value(B10) !important;
    transition: all 0.2s;
}

.titleType {
    -st-states: isSelected;
}

.titleType > div {
    padding: 18px 18px 16px 18px;
}

.titleType:isSelected > div {
    border-bottom: 3px solid value(B10);
}

.titleType:isSelected > div > div > span:last-child {
    color: value(B10) !important;
}

.titleType:hover > div > div > span:last-child {
    color: value(B10) !important;
    transition: all 0.2s;
}

.contentTypeSelect {
    -st-states: typeSelect(enum(1, 2, 3, 4)), isShow;
}

.contentTypeSelect > div {
    width: 100%;
    padding: 0;
    height: 455px;
    position: relative;
}

.contentTypeSelect:typeSelect(1) > div {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contentTypeSelect:typeSelect(4) > div {
    padding: 30px;
}

.contentTypeSelect:typeSelect(1) {
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contentTypeSelect:typeSelect(4) {
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.iconAdd {
    color: value(B30);
}

.formBlank {
    justify-content: center;
    align-items: center;
}

.textOne {
    font-weight: 700 !important;
}

.typeDuplicate {
    justify-content: center;
    align-items: center;
}

.selectItem {
    width: 260px;
}
