@st-import [B40, D40, D60] from "mgz-ui/dist/src/Foundation/stylable/colors.st.css";

.root {
    -st-states: isBorder;
    position: relative;
}

.root::before {
    content: '';
    left: -28px;
    position: absolute;
    border-left: 1px dashed value(D40);
    height: 100%;
    top: 0;
    width: 1px;
}

.root:last-child::before {
    height: 1.07rem;
}

.root::after {
    border-top: 1px dashed value(D40);
    height: 1px;
    top: 16px;
    width: 28px;
    content: '';
    left: -26px;
    position: absolute;
}

.root:isBorder::after {
    border-top: none;
}

.root .itemTrees {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.itemTrees {
    -st-states: isBorder;
    position: relative;
}

.itemTrees:isBorder::before {
    border-left: 1px dashed value(D40);
    bottom: 0px;
    content: '';
    left: 12px;
    position: absolute;
    top: 29px;
    width: 1px;
    height: 14px;
}

.itemOptionTree {
    -st-states: isShowCheck, isHover, isHoverMouse, isGroup, isDisable;
    margin: 0;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 100%;
    margin-left: 3px;
    position: relative;
    outline: none;
}

.itemOptionTree:isShowCheck {
    background-color: value(B40);
}

.itemOptionTree:isHover {
    background-color: value(D60);
}

.itemOptionTree:isHoverMouse {
    background-color: value(D60);
}

.itemOptionTree:isGroup {
    background-color: transparent;
    cursor: default;
}

.itemOptionTree:isDisable {
    background-color: transparent;
    cursor: default;
}

.itemOptionTree:isGroup .labelItem {
    font-weight: 600 !important;
}

.itemOptionTree:isDisable .labelItem {
    opacity: 0.5;
}

.numberGroupTree {
    -st-states: isShowNumber;
    display: none;
}

.numberGroupTree:isShowNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: value(D60);
    width: 17px;
    height: 17px;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 10px;
    font-weight: 600 !important;
    opacity: 1 !important;
}

.toggleItems {
    cursor: pointer;
}
